[submodule "Lithe/vendor/spdlog"]
	path = Lithe/vendor/spdlog
	url = https://github.com/trevorswan11/spdlog
[submodule "Lithe/vendor/GLFW"]
	path = Lithe/vendor/GLFW
	url = https://github.com/trevorswan11/GLFW
[submodule "Lithe/vendor/imgui"]
	path = Lithe/vendor/imgui
	url = https://github.com/trevorswan11/imgui
[submodule "Lithe/vendor/glm"]
	path = Lithe/vendor/glm
	url = https://github.com/trevorswan11/glm
[submodule "Lithe/vendor/Glad"]
	path = Lithe/vendor/Glad
	url = https://github.com/trevorswan11/glad
[submodule "Lithe/vendor/yaml-cpp"]
	path = Lithe/vendor/yaml-cpp
	url = https://github.com/trevorswan11/yaml-cpp
[submodule "Lithe/vendor/ImGuizmo"]
	path = Lithe/vendor/ImGuizmo
	url = https://github.com/trevorswan11/ImGuizmo
[submodule "Lithe/vendor/Box2D"]
	path = Lithe/vendor/Box2D
	url = https://github.com/trevorswan11/box2d
