[submodule "Lithe/vendor/spdlog"]
	path = Lithe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lithe/vendor/GLFW"]
	path = Lithe/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Lithe/vendor/imgui"]
	path = Lithe/vendor/imgui
	url = https://github.com/trevorswan11/imgui
[submodule "Lithe/vendor/glm"]
	path = Lithe/vendor/glm
	url = https://github.com/g-truc/glm
